.contact-container {
  background-color: rgb(249, 243, 243);
  display: flex;
  justify-content: center;
  
  height: 88vh;
  box-sizing: border-box;
  position: relative;
}

.contact-content {
  padding: 30px 40px;
  display: flex;
  gap: 20px; /* Khoảng cách giữa hai cột */
  width: 100%;
  height: 300px;
  
}

.contact-info-container {
  flex: 1; /* Cột trái chiếm 1 phần */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info-container h2 {
  margin-bottom: 20px;
  color: #2f6627;
  text-align: center;
}

.shop-info p {
  margin: 10px 0;
  font-size: 16px;
}

.shop-info strong {
  color: #2f6627;
}

.shop-info a {
  color: #2f6627;
  text-decoration: none;
}

.shop-info a:hover {
  text-decoration: underline;
}

.map-container {
  flex: 2; /* Cột phải chiếm 2 phần */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 500px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}
