<div class="login">
  <div class="login-container">
    <h2>Quên Mật Khẩu</h2>

    <!-- Form quên mật khẩu -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
      <div class="input-group">
        <label for="email">Email</label>
        <div class="input-icon">
          <input
            type="email"
            id="email"
            placeholder="Nhập email của bạn"
            required
            formControlName="email"
          />
          <i class="fas fa-envelope"></i>
        </div>
        <!-- Thông báo lỗi nếu email không hợp lệ -->
        <div
          *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched"
          class="error-message"
        >
          Email không hợp lệ
        </div>
      </div>

      <div class="button-login">
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Gửi yêu cầu</button>
      </div>
    </form>

    <!-- Thông báo lỗi nếu có -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Thông báo thành công -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <div class="login-options">
      <p>
        Đã nhớ mật khẩu? <a (click)="goToLogin()">Đăng Nhập</a>
      </p>
    </div>
  </div>
</div>
