.account-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
      padding: 0px 300px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    .btn-save {
      display: block;
      width: 10%;
      padding: 10px;
      background-color: #086348;
      color: #fff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      margin: 20px auto;  /* Thêm dòng này để căn giữa nút */
    
      &:hover {
        background-color: #218838;
      }
    }
  }
  