
.tree-type-menu {
  width: 200px;
  background-color: #ffffff; /* Màu nền menu */
  border:1px solid rgb(228, 203, 203);
  position: relative;
  margin-left: 40px; /* Khoảng cách bên trái */
  border-radius: 1px; /* Bo tròn các góc */
  text-align: center; /* Căn giữa nội dung */
  font-size: 20px; /* Kích thước chữ */
  height: auto;
  font-family: Arial, sans-serif; /* Phông chữ */
}
.tree-type-menu h3 {
  padding-top: 20px;
  margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
}

.menu-button {
  width: 100%; /* Chiều rộng đầy đủ */
  padding: 10px; /* Khoảng cách bên trong */
  font-size: 18px; /* Kích thước chữ */
  background-color: #ffffff; /* Màu nền nút */
  border: 1px solid #ffffff; /* Đường viền */
  cursor: pointer; /* Con trỏ tay khi di chuột */
  transition: background-color 0.3s, color 0.3s, transform 0.1s; /* Hiệu ứng chuyển tiếp */
}

/* Hiệu ứng khi di chuột */
.menu-button:hover {
  background-color: #f1f1f1; /* Màu nền khi di chuột */
}

/* Hiệu ứng cho nút active */
.menu-button.active {
  background-color: #178952; /* Màu nền khi nhấn */
  color: white; /* Màu chữ khi active */
  font-weight: bold; /* Chữ đậm khi active */
  border: none; /* Không có đường viền khi active */
  transform: scale(0.95); /* Hiệu ứng thu nhỏ khi active */
}

/* Hiệu ứng khi nhấn nút */
.menu-button:active {
  transform: scale(0.95); /* Hiệu ứng thu nhỏ khi nhấn */
  background-color:  rgb(103, 214, 62); /* Màu nền khi active */
  color: white; /* Màu chữ khi nhấn */
}
