.tree-type-menu {
  width: 200px;
  background-color: #ffffff; /* Màu nền menu */
  border: 3px solid #ddd; /* Đường viền */
  padding: 5px; /* Khoảng cách bên trong */
  margin-left: 60px; /* Khoảng cách bên trái */
  border-radius: 1px; /* Bo tròn các góc */
  text-align: center; /* Căn giữa nội dung */
  font-size: 20px; /* Kích thước chữ */
  font-family: Arial, sans-serif; /* Phông chữ */
}

.tree-type-menu h3 {
  margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
}

.tree-type-menu ul {
  list-style-type: none; /* Không hiển thị dấu chấm */
  padding: 0; /* Không có khoảng cách bên trong */
}

.tree-type-menu li {
  margin: 10px 0; /* Khoảng cách giữa các mục */
}

.menu-button {
  width: 100%; /* Chiều rộng đầy đủ */
  padding: 10px; /* Khoảng cách bên trong */
  font-size: 18px; /* Kích thước chữ */
  background-color: #ffffff; /* Màu nền nút */
  border: 1px solid #ddd; /* Đường viền */
  border-radius: 4px; /* Bo tròn các góc */
  color: #333; /* Màu chữ */
  cursor: pointer; /* Con trỏ tay khi di chuột */
  transition: background-color 0.3s, color 0.3s, transform 0.1s; /* Hiệu ứng chuyển tiếp */
}

/* Hiệu ứng khi di chuột */
.menu-button:hover {
  background-color: #f1f1f1; /* Màu nền khi di chuột */
}

/* Hiệu ứng cho nút active */
.menu-button.active {
  background-color: #178952; /* Màu nền khi nhấn */
  color: white; /* Màu chữ khi active */
  font-weight: bold; /* Chữ đậm khi active */
  border: none; /* Không có đường viền khi active */
  transform: scale(0.95); /* Hiệu ứng thu nhỏ khi active */
}

/* Hiệu ứng khi nhấn nút */
.menu-button:active {
  transform: scale(0.95); /* Hiệu ứng thu nhỏ khi nhấn */
  background-color:  rgb(103, 214, 62); /* Màu nền khi active */
  color: white; /* Màu chữ khi nhấn */
}