<nav>
  <div class="logo">
    <img src="images/logolala.png" alt="Logo" />
  </div>
  <ul>
    <li (click)="navigateTo('/home')">TRANG CHỦ</li>
    <li (click)="navigateTo('/gioithieu')">GIỚI THIỆU</li>
    <li (click)="navigateTo('/sanpham')">SẢN PHẨM</li>
    <li (click)="navigateTo('/lienhe')">LIÊN HỆ</li>
  </ul>
  <div class="right-menu">
    <ul>
      <!-- Hiển thị nút đăng nhập nếu người dùng chưa đăng nhập -->
      <li *ngIf="!isLoggedIn" (click)="navigateTo('/dangnhap')">ĐĂNG NHẬP</li>
    </ul>
  
    <!-- Biểu tượng giỏ hàng -->
    <a (click)="navigateTo('/giohang')">
      <i class="fas fa-shopping-cart"></i>
    </a>
  
    <!-- Dropdown tài khoản -->
    <div class="dropdown-container" (click)="onContainerClick($event)">
      <div class="navigation">
        <!-- Gọi onAccountIconClick thay vì toggleDropdown -->
        <a (click)="onAccountIconClick()" style="cursor: pointer;">
          <i class="fas fa-user"></i> <!-- Biểu tượng tài khoản -->
        </a>
      </div>
      
      <!-- Dropdown Menu (Hiển thị khi đã đăng nhập) -->
      <div *ngIf="isDropdownOpen" class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
        <ul>
          <!-- Thông tin tài khoản -->
          <li (click)="navigateToAccount(); closeDropdown()">
            <a>Thông tin tài khoản</a>
          </li>
  
          <!-- Đơn hàng của tôi -->
          <li (click)="navigateTo('/donhang'); closeDropdown()">
            <a>Đơn hàng của tôi</a>
          </li>
  
          <!-- Đăng xuất -->
          <li (click)="logout(); closeDropdown()">
            <a>Đăng xuất</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  

</nav>
