<div class="product-detail-container">
    <div class="product-image">
        <img src="images/cayluoiho.png" alt="Tên cây 1">
    </div>

    <div class="product-info">
      <h1 class="product-title">Cây lưỡi hổ</h1>
      <p class="product-description">
        Cây lưỡi hổ (Sansevieria) là một loại cây cảnh phổ biến nhờ khả năng thanh lọc không khí và tính dễ chăm sóc. Với những chiếc lá dài, cứng và dày, có viền vàng hoặc xanh đậm, cây lưỡi hổ có vẻ ngoài mạnh mẽ và sang trọng. Cây có khả năng hấp thụ khí CO2 vào ban đêm và thải ra oxy, giúp cải thiện chất lượng không khí trong nhà. Ngoài ra, cây còn được xem là biểu tượng của sự may mắn và tài lộc trong phong thủy. Cây lưỡi hổ phù hợp để trưng bày trong phòng khách, phòng làm việc hoặc phòng ngủ.
      </p>

      <p class="product-price">100.000đ</p>

      <div class="product-quantity">
        <label for="quantity">Số lượng:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
      </div>

      <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
    </div>
  </div>