<div class="cart-container">
  <h2>Đặt Hàng</h2>
  
  <table class="cart-table">
    <thead>
      <tr>
        <th>Hình ảnh</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <img [src]="item.imageUrl" alt="{{ item.name }}" class="product-image">
        </td>
        <td>{{ item.name }}</td>
        <td>{{ formatCurrency(item.price) }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ formatCurrency(item.price * item.quantity) }}</td>
      </tr>
    </tbody>
  </table>

  <div class="shipping-info">
    <h3>Thông tin giao hàng</h3>
    <p>Họ và tên: {{ shippingInfo.name }}</p>
    <p>Số điện thoại: {{ shippingInfo.phone }}</p>
    <p>Địa chỉ: {{ shippingInfo.address }}</p>
  </div>
  
  <div class="form-container">
    <div class="form-row">
      <div class="note-container">
        <label for="note">Ghi chú</label>
        <textarea id="note" [(ngModel)]="orderNote" name="note" placeholder="Nhập ghi chú cho đơn hàng"></textarea>
      </div>
  
      <div class="promotion-container">
        <label for="promotionCode">Mã giảm giá</label>
        <input type="text" id="promotionCode" [(ngModel)]="promotionCode" name="promotionCode" placeholder="Nhập mã giảm giá">
        <button (click)="checkPromotionCode()" class="promotion-check-button">Áp mã</button>
        <p *ngIf="!isPromotionValid" class="promotion-error">Mã giảm giá không hợp lệ.</p>
      </div>
    </div>
  </div>

  <!-- Hiển thị tổng tiền và giá trị giảm giá -->
  <div class="order-total">
    <h3 style="margin-bottom: 10px;">
      Tổng cộng: {{ formatCurrency(total) }}
    </h3>
  
    <!-- Hiển thị thông tin giảm giá nếu có -->
    <p *ngIf="discountAmount > 0">
      Giảm giá: {{ formatCurrency(discountAmount) }}
    </p>
  

  
    <button (click)="submitOrder()" class="submit-button">Xác nhận đơn hàng</button>
  </div>
</div>
