.product-container {
  display: flex; /* Sử dụng Flexbox để bố trí */
 background-color: white;
  width: 100%;
  height: auto;
  

}

app-tree-type-menu {
  padding-top: 0px;
 
  flex: 1; /* Chiếm 1 phần của không gian */
}

.product-content {
 border:1px solid rgb(228, 203, 203);
 margin-right: 40px;
 background-color: #f9f9f9;
  flex:5; /* Chiếm 3 phần của không gian */
 
 
}

.product-list {
  display: flex;
  padding-left: 20px;
  justify-content: start;
  flex-wrap: wrap; /* Cho phép sản phẩm xuống hàng */
  margin: 0;
  
  position: relative;
  gap: 20px; /* Khoảng cách giữa các sản phẩm */
}

.product-item {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển động mượt */
  width: 230px; /* Thiết lập chiều rộng cố định cho mỗi sản phẩm */
  margin: 10px; /* Khoảng cách giữa các sản phẩm */
  height: 330px;
  cursor: pointer;
  color: rgb(12, 95, 52); /* Màu chữ cho giá sản phẩm */
}

.description {
  font-size: 16px; /* Kích thước chữ cho mô tả tổng quát */
  color: green;    /* Màu chữ cho mô tả tổng quát */
  text-align: center;
  margin-bottom: 20px; /* Khoảng cách dưới mô tả tổng quát */
}

.product-item p.product-price {
  font-size: 16px; /* Kích thước chữ cho giá sản phẩm */
 color:  rgb(12, 95, 52); /* Màu chữ cho giá sản phẩm */
  padding: 0px;    /* Không có khoảng cách bên trong */
  margin: 0;       /* Không có khoảng cách bên ngoài */
  text-align: center; /* Căn giữa cho giá sản phẩm */
}

.product-item img {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
  position: relative;

}

h4 {
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: center; /* Căn giữa các nút */
  margin-top: 10px; /* Khoảng cách giữa phần mô tả sản phẩm và nút */
}

button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển động cho button */
}

button:hover {
  background-color: #28a745; /* Thay đổi màu nền khi hover */
}

.product-item:hover {
  transform: scale(1.10); /* Khi hover, sản phẩm sẽ phóng to */
  box-shadow: 0px 8px 20px rgba(23, 222, 152, 0.7); /* Thêm bóng cho sản phẩm */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Cho phép phần tử trong pagination xuống hàng nếu cần */
  position: relative;
  background-color: #f9f9f9;
  padding-bottom: 10px;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  background-color: rgb(162, 164, 33);
  color:white;
  cursor: pointer;
}
.pagination button:hover{
  background-color: #ffcc00;
}

.pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
 
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-input, .price-input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  transition: all 0.3s ease;
}

.search-input:focus, .price-input:focus {
  outline: none;
  border-color: #4CAF50;
}

.search-input::placeholder ,.price-input::placeholder {
  color: #aaa; /* Màu chữ placeholder */
}


.search-btn {
  background-color: rgb(16, 65, 172);
}

.search-btn:hover {
  background-color: rgb(27, 117, 228);
}

.search-btn:active {
  background-color: rgb(27, 117, 228);
  transform: scale(0.95);
  box-shadow: #ddd;
}
