<div class="product-container">
  <app-tree-type-menu (categorySelected)="filterProductsByCategory($event)"></app-tree-type-menu>
  <div class="product-content">
    <div class="search-container">
      <div class="input-group">
        <input 
          type="text" 
          placeholder="Tìm kiếm sản phẩm..." 
          class="search-input" 
          [(ngModel)]="searchTerm">
          
        <input 
          type="number" 
          placeholder="Giá tối thiểu" 
          class="price-input" 
          [(ngModel)]="minPrice">
          
        <input 
          type="number" 
          placeholder="Giá tối đa" 
          class="price-input" 
          [(ngModel)]="maxPrice">
      </div>
      <button 
        class="search-btn" 
        (click)="onSearch()">
        Tìm kiếm
      </button>
    </div>
    
    
    
    <div class="product-list">
      <ng-container *ngIf="filteredProducts && filteredProducts.length > 0; else noProducts">
        <div class="product-item" *ngFor="let product of paginatedProducts()">
          <img [src]="rootUrl + '/' + product.img" alt="{{ product.productName }}" />
          <h4>{{ product.productName }}</h4>
          <p class="product-price">{{ product.priceOutput | number }} VNĐ</p>
          <div class="button-container">
            <button (click)="addToCart(product)">Thêm vào giỏ</button>
            <button (click)="viewDetail(product)">Xem</button>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-template #noProducts>
      <p>Không có sản phẩm nào được tìm thấy.</p>
    </ng-template>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Trang trước</button>
      <span>Trang {{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Trang sau</button>
    </div>
  </div>
</div>
