<div class="product-container">
    <app-tree-type-menu></app-tree-type-menu>
    
    <div class="sanphamnoibat">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm sản phẩm..." class="search-input">
            <button class="search-btn">Tìm kiếm</button>
          </div>

      <div class="product-list">
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Cây lưỡi hổ">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button (click)="viewDetail()">Xem</button>
          <button (click)="addToCart()">Thêm vào giỏ</button>
        </div>
        
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Tên cây 1">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button class="view-btn">Xem</button>
          <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Tên cây 1">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button class="view-btn">Xem</button>
          <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Tên cây 1">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button class="view-btn">Xem</button>
          <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Tên cây 1">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button class="view-btn">Xem</button>
          <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
        <div class="product-item">
          <img src="images/cayluoiho.png" alt="Tên cây 1">
          <h4>Cây lưỡi hổ</h4>
          <p class="product-price">Giá: 100,000 VND</p>
          <button class="view-btn">Xem</button>
          <button class="add-to-cart-btn">Thêm vào giỏ</button>
        </div>
      </div>
    </div>
  </div>
  