/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Đảm bảo chiều rộng và chiều cao bao gồm cả padding và border */
}
