<!-- src/app/components/banner-slider/banner-slider.component.html -->
<div class="banner">
  <div class="slide fade">
    <div class="main-image-wrapper">
      <img [src]="getCurrentImage()" alt="Banner" class="main-image" />
      <img src="images/bannerTree.png" alt="Overlay Image" class="overlay-image" /> <!-- New overlay image -->
    </div>
    <button (click)="viewProduct()" class="buy-now-btn">Mua hàng ngay</button>
    <button class="voucher-btn">Nhận voucher</button> <!-- New button added here -->
    
    <!-- New image on the right -->
   
  </div>
</div>
